.container{width: 100%;height: 200px;background-color:#FFFF00;color:white;}
.fLeft{float: left;}
.clr{clear: both;}
.columnLeft{width: 25%;background-color:#83A2E8; }
.columnRight{width:75%;background-color:#91A931; }
.innerDiv{margin:2%;background-color: #987F7F;}
ul li{list-style: none;}
span:hover{background-color: #534261;cursor:pointer;}